
.imgWrapper {
    width: 100%;
    height: 100%;
    background-image: url(../image/home/Bio-01.png);
    background-size: cover;
    background-position: center;
}


.bioTitle {
    text-transform: uppercase;
    font-weight: 300;
}

.bioText {
    font-size: 0.8rem;
    line-height: 1.2;
}

