
.contactFlex {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}


.contactUs {
    font-family: 'Nunito', sans-serif;
}

.contactData {
    padding: 15px;
    
}

.imagenContact {
    padding: 15px;
}

