
.contactFlex {
    display: flex;
    justify-content: space-evenly;
}


.contactUs {
    font-family: 'Nunito', sans-serif;
}

.contactData {
    display: flex;
    align-items: center;
    padding: 15px;
    
}

.imagenContact {
   padding: 15px;
}

.imgContact {
    text-align: center;
    width: 80%;
}

.contacTittle {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 400;
    font-family: $letraCars;   
}

.conTitle1 {
    font-size: 3.2rem;
}

.worldwide {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
}

.botonContact {
    background-image: $colorPrincipal;
    color: white;
    padding: 5px;
    border: none;
    transition: all 300ms ease;
        &:hover {
            transform: scale(1.05);
        } 
        & a {
            text-decoration: none;
            color: white;
            &:hover {
                color: white;
            }
        }
}

.contactBody {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

