

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.indexBody {
    height: 100vh;
    width: 100vw;
    background: #12c2e9; 
    background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #d226e2); 
    background: linear-gradient(to right, #12c2e9, #c471ed, #d226e2); 
    padding: 10px;
}

.home {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url(../image/home/Home.png);
    background-position: bottom;
    background-size: cover;
}

.homeText {
    display: flex;
    height: 40%;
    align-items: end;
    & h1 {
        color: white;
        font-size: 100px;
    }
}

.homeText2 {
    color: white;
    height: 10%;
    font-size: 30px;
}

.homeBoton {
    color: white;
    & .btn-outline-secondary {
        border-color: white;
        color: white;
        & a {
            text-decoration: none;
            color: white;

            &:hover {
                color: white;
            }
        }
        &:hover {
            background-image: $colorPrincipal;
            border: 1px solid white;
        }

        &:active {
            border: none;
        }
    }
}

.homeRedes {
    display: flex;
    height: 30%;
    align-items: end;
    flex-direction: row;
}

.botonInstagram, .botonFacebook, .botonSpotify, .botonCloud {
    color: white;
    transition: all 300ms linear;
    
    &:hover {
        cursor: pointer;
        transform: scale(1.3);

        background: $colorPrincipal;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

footer {
    background-color: #000;
    border: none;
}

.footerWrapper {
    background-color: #000;
}