.indexBody {
    height: 100vh;
    width: 100vw;
    background: #12c2e9; 
    background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #d226e2); 
    background: linear-gradient(to right, #12c2e9, #c471ed, #d226e2); 
    padding: .5%;
}

.home {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url(../image/home/Home1.jpg);
    background-position: bottom;
    background-size: cover;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

.principalContent {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeText {
    display: flex;
    height: 30%;
    align-items: end;
    font-family: $letraHome;

    & h1 {
        color: white;
        font-size: 6rem;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.homeText2 {
    display: flex;
    align-items: center;
    color: white;
    height: 10%;
    font-family: $letraHome;

    & h2 {
        font-size: 25px;
        font-weight: 300;
    }
}

.homeBoton {
    color: white;

    & .indexButton {
        border: solid 1px white;
        color: white;
        text-decoration: none;
        transition: all 400ms;
        display: inline-block;
        font-weight: 400;

        & a {
            text-decoration: none;
            color: white;

            &:hover {
                color: white;
            }
        }
        &:hover {
            transform: scale(1.07);
            background-image: $colorPrincipal;
        }

        &:active {
            border: none;
        }
    }
}

.homeRedes {
    display: flex;
    height: 10%;
    align-items: end;
    flex-direction: row;
}

.botonInstagram, .botonFacebook, .botonSpotify, .botonCloud {
    color: white;
    transition: all 300ms linear;
    
    &:hover {
        cursor: pointer;
        transform: scale(1.3);

        background: $colorPrincipal;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}

.indexSocial {

    &List {
        list-style: none;
        color: #FFF;

        transition: all 300ms;

        &:hover {
            transform: scale(1.3);
        }

        & i {
            color: #FFF;
            font-size: 1.4rem;
            padding: 3px;
            margin: 0 5px;

        }
        
    }
}

.developer-color {
    color: #bbbbbb;

    &:hover {
        color: #FFF;
    }
}

.developer-text {
    font-size: .8rem;
}