.musicFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.botonListen {
    background-image: $colorPrincipal;
    color: white;
    padding: 5px;
    border: none;
        & a {
            text-decoration: none;
            color: white;
            &:hover {
                color: white;
                
            }
        }
}

.card-title {
    font-family: $letraCars;
    font-weight: 200;
}

.card-text {
    font-weight: 700;
}