* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #FFF !important;
}

.social {

    & li {
        list-style: none;
    }
}

