.bioBody {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: #000;
    text-transform: uppercase;
    font-size: .8rem;

    &-brand {
        font-size: 1.5rem;
        color: #FFF;
        font-family: "Raleway", sans-serif;
        transition: all 400ms;

        &:hover {
            transform: scale(1.03);
            background: $colorPrincipal;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.newMusic {
    background-image: $colorPrincipal;
    text-align: center;

    &Link {
        color: #FFF;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .7rem;
        color: #FFF;
        transition: all 200ms ease-out;

        &:hover {
            color: #ffffffd7;
        }
    }
}

.centerSpan {
    font-weight: 300;
    font-size: 13px;
    text-transform: lowercase;
    font-style: italic;
}

.nav-link {
    transition: all 350ms;
}

.nav-link:hover {
    color: white;
    font-weight: 400;
    border-bottom: 0.8px solid #FFF;
}



.social {

    &List {
        list-style: none;
        color: #FFF;

        transition: all 300ms;

        &:hover {
            transform: scale(1.3);
        }

        & i {
            color: #FFF;
            font-size: 1.2rem;
            padding: 3px;
            margin: 0 5px;

        }
        
    }
}

.text-muted {
    &:hover {
        color: #FFF !important;
        font-weight: 400;
        border: none;
    }
}

.text-muted1 {
    color: #6c757d;
}

.navbar-toggler {
    border: none;
    color: #FFF;
}
