// Vista Phone

@media (max-width:480px) {

    .homeText {
        height: 40%;
        & h1 {
            font-size: 70px;
            
        }
    }

    .homeText2 {
        font-size: 15px;
        height: 10%;
        margin-top: 10px;
    }

    .homeBoton {
        height: 10%;
    }
    
    .card {
        margin-top: 35px;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0px;
    }

    .card-body {
        text-align: center;
    }

    .progress {
        display: none;
    }

}

// Vista Tablet

@media (min-width: 481px) and (max-width:1023px) {
    .homeText {
        & h1 {
            font-size: 65px;
        }
    }

    .homeText2 {
        font-size: 18px;
    }

    .homeBoton {
        height: 10%;
    }
    
    .card {
        margin-top: 25px;
    }

    .musicFlex {
        flex-flow: column wrap !important;
        align-items: center;
        text-align: center;
    }

    .progress {
        display: none;
    }
}

// Vista Desktop

@media (min-width:1024px) {

    .card-body {
        padding-top: 1rem;
        padding-left: 0.2rem;
    }

    .card {
        border: none;
    }

    .botonListen {
        transition: all 300ms;
        &:hover {
                transform: scale(1.08);
        }
    }

    .progress {
        margin: 25px;
    }    
}


// X-Small
@media (max-width: 576px) {

    .imgWrapper {
        height: 300px;
        background-position: top;
    }

    .spaceBlank {
        display: none;
    }
}