
@import "variables.scss";
@import "home.scss";
@import "nav.scss";
@import "footer.scss";
@import "music.scss";
@import "bio.scss";
@import "disco.scss";
@import "contact.scss";
@import "responsive.scss";




